@import "reset.css";

/* @media screen and (min-width: 800px) {
  body {
    width: 50%;
  }
} */

body {
  height: 100vh;
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: beige;
}

h1 {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 30px;
}
#welcome {
  display: flex;
  justify-content: center;
}

#pannel {
  margin-top: 30px;
  font-size: large;
  text-align: center;
}
#myStream {
  display: flex;
  justify-content: space-evenly;
}

#myFace-btn {
}

input {
  margin-left: 10px;
  width: 120px;
}

input,
button {
  box-sizing: border-box;
  height: 40px;
  font-size: 18px;
  padding: 5px;
}

input {
  margin-left: 10px;
  width: 150px;
}

button {
  border-radius: 5px;
}

#welcome {
  boder: 2px solid rgba(255, 255, 255, 0.4);
}

#data {
  position: relative;
  width: 400px;
  height: 200px;
  background-color: aqua;
}

#data {
  margin: auto;
}
#data ul {
  overflow: auto;
  height: 80%;
}

#data form {
}

#data input,
#data button {
  position: absolute;
  bottom: 5px;
  right: 0;
}

#data input {
  width: 100%;
}

/* #data ul {
  overflow: auto;
  width: 300px;
  height: 200px;
  background-color: aqua;
} 
 #data {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  height: 200px;
  background-color: aqua;
}
*/
